@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 15px;
}

a:hover {
    text-shadow: 0px 0px 20px #f9faf8;
}

a {
    text-decoration: none;
    color: #eee;

}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;

    padding: 25px 200px 50px 200px;
    cursor: default;
}



.header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo-text {
    display: flex;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.heart {
    padding: 0px 5px 0px 5px;

    color:rgb(241, 52, 52)
}



.below-header {
    display: flex;
    flex: 1;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    padding: 50px 50px 50px 0px;
    gap: 15px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    cursor:default;

}

.awesome:hover {
    color: #3882F6;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.sign-up-hero {
    position: relative;
    background-color: #3882F6;
    margin: 0;
    margin-top: 15px;
    padding:20px 50px 20px 50px;
    color: #f9faf8;
    border: none;
    border-radius: 50px;
    font-family: 'DM Sans';
    font-weight: bolder;
    font-size: large;
    transition: box-shadow 0.5s ease;

}



.sign-up-hero:hover {
    box-shadow: 0 0 20px 0px #3882F6;
    cursor: pointer;
}

.sign-up-hero:active {
    background-color: #30b14a;
    box-shadow: 0 0 20px 0px #30b14a;
    transition: box-shadow 0.1 ease-in-out;
}

.image-container {
    display:flex;
    flex-shrink: 3;
}

.image-container img {
    width: 50vh;
    height:40vh;
    border-radius: 10px;
    overflow: hidden;
    align-self: center;

}

.info-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    background-color: #f9faf8;
}

.info-title {
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    align-self: center;
}

.info-subtitle {
    font-size: 24px;
    text-align: center;
}

.info-bottom {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

.section {
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sqr {
    width: 30vh;
    height: 30vh;
    margin-top: 3vh;
    border: solid #1F2937 5px;
    border-radius: 15%;
    overflow: hidden;
}


.sqr img {
    width: 100%;
    height: 100%;
    object-fit: cover;  

}



.sqr-text {
    padding: 8px;
    text-align: center;
}


.quote-container {
    display: flex;
    height:100vh;
    background-image: url("cat-quote.jpg");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.quote {
    font-size: 72px;
    color: #f9faf8;
    text-shadow: 3px 3px 3px #1F2937;
    text-align: center;
}

.author {
    color: #E5E7EB;
    font-size: 24px;
    text-shadow: 3px 3px 3px #1F2937;
}

.bottom-container {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.rectangle {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5vh;
    height: 10vh;
    margin: 5vh;
    border-radius: 20px;
    gap: 2.5vh;

}

.text-one {
    font-size: 24px;
}

.text-two {
    font-size: 16px;
    font-weight: lighter;
}

.donate-btn {
    padding: 2.5vh;
    border: #E5E7EB solid 2.5px;
    border-radius: 20px;
    color: #f9faf8;
    background-color: #3882F6;
    font-family: 'DM Sans';
    font-weight: bolder;
    font-size: 24px;
    transition: 0.2s;
}

.donate-btn:hover {
    background-color: #30b14a;
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 5vh;
}

.footer-text {
    color: #E5E7EB;

}

.footer-text a {
    border-bottom: 1px solid #f9faf8;
}

@media only screen and (max-width: 1400px) {
    .top-container {
        padding: 25px 100px 50px 100px;
    }

    
}

@media only screen and (max-width: 900px) {
    .top-container {
        padding: 25px 50px 50px 50px;
    }

    
}

@media only screen and (max-width: 800px) {
    .top-container {
        padding: 25px 25px 25px 25px;

    }



}

@media only screen and (max-width: 950px) {
    .below-header {
        flex-direction: column;
        padding-bottom: 25px;
    }

    .hero {
        justify-content: center;
        padding: 5px 0px 50px 0px;

    }

    .hero-title {
        align-self: center;
        text-align: center;
        font-size: 36px;
    }
    
    .hero-text {
        text-align: center;
    }

    .sign-up-hero {
        align-self: center;
    }

    .image-container {
        justify-content: center;
    }

    .image-container img {
        width: auto;
        height: auto;
    }

    
    ul {
    gap: 10px;
    text-align: right;

    }

    .rectangle {
        flex-direction: column;
        height: 20vh;
        transition: 0.2s;
        text-align: center;
    }

    .text-one {
        margin-bottom: 1.5vh;
        font-size: 18px;
    }
    .text-two {
        font-size: 14px;
    }

    .donate-btn {
        padding: 1.5vh;
    }

    }


@media only screen and (max-width: 600px) {



    

    ul {
    gap: 10px;
    text-align: right;
    }

    .info-title {
        font-size: 16px;
    }

}